{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <h4>Post something:</h4>
        <form  action="{% url 'create_post' %}" method="post" >
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit">
        </form>
    {% endif %}

<h4>Recent Posts:</h4>
<div class="list-group">
    {% for post in page %}
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <small class="text-muted"><b>{{ post.author }}:</b></small>
            </div>
            <p class="mb-1">{{ post }}</p>
            <p class="mb-1">{{ post.date_time }}</p>
        </a>
    {% endfor %}
</div>

<!-- pagination-->
<nav aria-label="...">
    <ul class="pagination">
        {% if page.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{% url 'feed' page.previous_page_number %}" tabindex="-1">Previous</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{% url 'feed' page.previous_page_number %}">{{ page.previous_page_number }}</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Previous</a>
            </li>
        {% endif %}
            
            <li class="page-item active">
            <a class="page-link" href="#">{{ page.number }} <span class="sr-only">(current)</span></a>
            </li>
      
        {% if page.has_next %}
            <li class="page-item">
                <a class="page-link" href="{% url 'feed' page.next_page_number %}">{{ page.next_page_number }}</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{% url 'feed' page.next_page_number %}">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
        {% endif %}
    </ul>
  </nav>

{% endblock %}